<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuoteVault</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img
          src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
          alt="logo"
        />
        <h1>QuoteVault</h1>
      </div>
      <div class="nav-links">
        <a href="/quotes">Home</a>
        <a href="/quotes/new">Add Quote</a>
      </div>
    </div>
  </body>
</html>
