<%- include("partials/header") %>

<main class="form-container">
    <h2>Add a New Quote</h2>
    <form action="/quotes" method="POST" class="quote-form">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" required>
        <br> <br>

        <label for="text">Quote:</label>
        <textarea name="text" id="text" rows="4" required></textarea>

        <button type="submit" class="btn btn-primary">Add Quote</button>
    </form>
</main>

<%- include("partials/footer") %>
